<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class="container my-3">
    <h2>전체 게시물 리스트</h2>
    <hr>
<!--    <p>-->
<!--        <a th:href="@{/member/create}">회원 추가</a>-->
<!--    </p>-->
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>최종 수정일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tr th:each="article : ${articles}">
            <td style="text-align: center;" th:text="${article.id}"/>
            <td><a th:href="@{/article/{id}(id=${article.id})}">[[${article.title}]]</a></td>
            <td th:text="${article.writer.name}"/>
            <td th:text="${#dates.format(article.regdate, 'yyyy-MM-dd HH:mm')}"/>
            <td th:text="${#dates.format(article.moddate, 'yyyy-MM-dd HH:mm')}"/>
            <td th:text="${article.readCnt}"/>
        </tr>
    </table>
</div>
</body>
</html>