<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
<div class="container my-3">
    <h2>전체 회원 리스트</h2>
    <hr>
    <p>
        <a th:href="@{/member/create}">회원 추가</a>
    </p>
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>아이디</th>
            <th>이름</th>
            <th>비밀번호</th>
            <th>이메일</th>
            <th>가입일</th>
        </tr>
        </thead>
        <tr th:each="member : ${members}">
<!--            <td style="text-align: center;">-->
            <td>
                <a th:href="@{/member/{id}(id=${member.id})}">[[${member.id}]]</a></td>
            <td th:text="${member.name}"/>
<!--            <td style="text-align: center" th:text="${member.password}"/>-->
            <td th:text="${member.password}"></td>
            <td th:text="${member.email}"/>
            <td th:text="${#temporals.format(member.regdate, 'yyyy년 MM월 dd일')}"/>
        </tr>
    </table>
</div>
</body>
</html>